<template>
    <div>
        <div class="container mt-3">
            <div class="row">
                <div class="col-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Purchase Id</th>
                            <th scope="col">Customer</th>
                            <th scope="col">Offering title</th>
                            <th class="text-center" scope="col">Quantity</th>
                            <th class="text-center" scope="col">Unit Price</th>
                            <th class="text-center" scope="col">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="purchase in purchases" :key="purchase.id">
                            <td>{{purchase.id}}</td>
                            <th scope="row">{{purchase.customerName}}</th>
                            <th scope="row">{{purchase.offering}}</th>
                            <td class="text-center">{{purchase.quantity}}</td>
                            <td class="text-center">${{purchase.offering ? purchase.offering.price : ''}}</td>
                            <td class="text-center">${{purchase.offering ? purchase.offering.price * purchase.quantity : ''}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
		data: () => ({
            purchases: [],
        }),
        mounted() {
            this.init();
        },
        methods: {
            init() {
                this.getPurchases()
            },
            getPurchases() {
                axios.get('/api/purchases').then(({data}) => {
                    this.purchases = data.purchases;
                })
            },
        }
    }
</script>