<template>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <!-- <a class="navbar-brand" href="#">Navbar</a> -->
            <button :class="'btn text-white ' + ($route.path == '/' ? 'btn-active' : '')" @click="routerPush({path: '/'})">
                Offerings
            </button>
            <button :class="'btn text-white ' + ($route.path == '/purchases' ? 'btn-active' : '')" @click="routerPush({path: 'purchases'})">
                Purchases
            </button>
            <button v-if="isAuthenticated" class="btn text-white ml-auto" @click="routerPush({path: 'register'})">
                Register
            </button>
            <button v-else class="btn text-white ml-auto" @click="routerPush({path: 'login'})">
                Login
            </button>
        </nav>
        <router-view></router-view>
    </div>
</template>

<script>
export default {
    data: () => ({
        isAuthenticated: !!window.localStorage.authToken
    }),
    methods: {
        routerPush(route) {
            this.$router.push(route).catch(err => {})
        }
    },
}
</script>

<style scoped>
    .btn-active {
        color: #007bff !important;
        background-color: #fff
    }
</style>