<template>
    <div>
        <div class="container mt-3">
            <div class="row">
                <div class="col-12 mb-4">
                    <form>
                        <div class="form-group col-12">
                            <label for="customerName">Offerings</label>
                            <input v-model="customerName" @input="errorMsg=''" type="text" class="form-control" id="customerName" placeholder="Enter Your Name">
                            <small v-if="errorMsg.length" id="error" class="form-text text-danger">{{errorMsg}}</small>
                        </div>
                        <div class="row pl-3">
                            <div class="col-2">
                                <button type="button" class="btn btn-success d-flex justify-content-center" @click="makePurchase">Purchase <span v-if="selectedOfferings.length" class="ml-2 d-flex align-items-center">${{ totalPrice }} </span></button>
                            </div>
                        </div>
                    </form> 
                    <div class="text-success">{{ responseMsg }}</div>
                </div>
                <div class="col-12">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col"> </th>
                                <th scope="col">Title</th>
                                <th scope="col">Price</th>
                                <th class="text-center" scope="col">Quantity</th>
                                <th class="text-center" scope="col">Available</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr v-for="offering in offerings" :key="offering.id">
                            <td>
                            <input @click="errorMsg=''" type="checkbox" id="offering" :value="offering" v-model="selectedOfferings" @change="countTotalPrice">
                            </td>
                            <td scope="row">{{offering.title}}</td>
                            <td>${{offering.price}}</td>
                            <td class="text-center">
                                <select :select-size="2" class="custom-select custom-select-sm w-75" v-model.number="offering.purchaseQuantity" @change="countTotalPrice">
                                    <option v-for="quantity in offering.quantity" :key="quantity">{{quantity}}</option>
                                </select>
                            </td>
                            <td class="text-center">{{offering.quantity}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        computed: {
            readyToPurchaseOfferings() {
                return this.selectedOfferings.map(item => {
                    return Object.assign(item, {
                        customerName: this.customerName
                    })
                });
            }
        },
		data: () => ({
            offerings: [],
            responseMsg: '',
            selectedOfferings: [],
            totalPrice: 0,
            customerName: '',
            errorMsg: ''
        }),
        mounted() {
            this.init();
        },
        methods: {
            init() {
                this.getOfferings();
            },
            countTotalPrice() {
                this.totalPrice = 0
                this.readyToPurchaseOfferings.map(offering => {
                    this.totalPrice += offering.price * offering.purchaseQuantity
                })
            },
            makePurchase() {
                let error = this.validationErrors();
                if(error) {
                    this.errorMsg = error
                } else {
                    axios.post('/api/purchases', {offerings: this.readyToPurchaseOfferings})
                    .then(response => {
                        this.responseMsg = response.data.message;
                        this.getOfferings();
                        this.resetData();
                    })
                }
            },
            getOfferings() {
                axios.get(`api/offerings`)
                .then(({data}) => {
                    this.offerings = data.offerings.map(offering => {
                        return Object.assign(offering, {purchaseQuantity: 1})
                    });
                })
            },
            resetData() {
                this.responseMsg = '';
                this.selectedOfferings = [];
                this.customerName = '';
                this.errorMsg = ''
            },
            validationErrors() {
                if(!this.readyToPurchaseOfferings.length) {
                    return "Please choose offering for purchase";
                } else if(!this.customerName.length) {
                    return "Please enter youre name"
                }
                return false
            }
        },
    }
</script>